

/* Sizing Elements */
.form-group { display: inline-block; width: 100%; }

.form-element { padding: @element-height-padding @element-width-padding;
  label { float: left; width: 100%; padding-bottom: 5px; }
  input[type=text] { padding: 8px 10px; @light-border(); width: 100%; box-sizing: border-box; outline: 0;
    &:focus { @dark-border(); }
  }
}
